@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;0,600;1,100;1,300;1,400;1,600;1,900&display=swap');

body {

    background: #EBEBEB;
    padding: 0;
}

a {
	text-decoration: none;
    color: #EBEBEB;
	
}

a:hover{
	text-decoration: none;
	color: #343a40;
}

.nav-link {
	padding: 0;
}

.fp-tableCell {
    display: unset !important;
}
.container {
	max-width: 1920px;
}

.navbar {
	padding: 0;
}



.logo {
	font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
	text-align: center;
	line-height: 1;
	

}

#name {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #EBEBEB;


}


.navbar-brand {
	margin: 0;
}

#mainNav .container {
	background: #767676;
    padding: 10px;
}



.logo div {
	height: 2px;
	background: #A90000;
	

}

.logo div:first-child {
	background: #C4C4C4;
	
}

.logo-text {
	font-size: 23.6px;
	color: #BABABA !important;
	font-weight: 600;
	
}

#section0 {
	text-align: center;

}

#section0 img {
	mix-blend-mode: overlay;
	
}


.scrolled {
	transform: scale(0.3, 0.3);
	margin-left: -120px;
	margin-top: -45px;
}

.fixed-bottom a {
    margin-right: 30px;
    font-size: 12px;
}

#section1 h1 {
	font-weight: 600;
	color: #807A7A;
	font-size: 60px;

}


.text {
	
	color: #807A7A;
}

.text h2 {
	writing-mode: tb-rl;
   transform:rotate(180deg);
	font-weight: 600;
}


.dsk {
	padding: 0;
	margin-left: -20px;
	width: 50px;
	height: 150px;
}


.form-control, .btn {
	background: #807A7A;
    border: 2px solid rgba(50, 45, 47, 0.7);
    box-sizing: border-box;
    border-radius: 20px 5px;

}

input::placeholder, textarea::placeholder  {
	color:rgba(0, 0, 0, 0.29) !important;
}

.rect {
	position: absolute;
    width: 476px;
    height: 184px;
    background: #1B0808;
    border: 3px solid rgba(128, 122, 122, 0.7);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 50px;
    left: calc(50% - 486px);
    color: #807A7A;
    padding: 10px 20px;
    z-index: 11;
    top: -30px;
    font-size: 13px;
}

.rect1 {
	position: absolute;
    width: 575px;
    height: 287px;
    background: #1B0808;
    border: 3px solid rgba(128, 122, 122, 0.7);
    box-sizing: border-box;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 50px;
    bottom: -40px;
    right: calc(50% - 486px);
    color: #807A7A;
    padding: 15px 10px;
    z-index: 11;
    font-size: 13px;
}

.rect2 {
	width: 251px;
    height: 250px;
    background: #C4C4C4;
    border-radius: 20px;
    float: right;
}

.big-img img{
  margin: 0 auto;
}

#section2 .dsk {
	position: absolute;
	left: calc(50% - 560px);
	font-size: 40px;
	font-weight: 700;
}

#section2 .dsk h2{
	
	font-size: 40px;
	font-weight: 700;
}

#section3 .dsk {
	position: absolute;
	left: calc(50% - 560px);
	font-size: 40px;
	font-weight: 700;
}

#section3 .dsk h2{
	
	font-size: 35px;
	font-weight: 700;
}

#section4 .dsk {
	position: absolute;
	left: calc(50% - 560px);
	font-size: 40px;
	font-weight: 700;
}

#section4 .dsk h2{
	
	font-size: 35px;
	font-weight: 700;
}


.bottom {
	position: absolute;
	width: 100%;
	height: 58px;
	font-size: 12px;
	color: white;
	bottom: 0;
}


/*slider arrows*/
#right {
    display: block;
    position: absolute;
    height:174px;
    width:87px;
    border-radius: 4px 87px 87px 4px;
    background: rgba(118, 118, 118, 1);
    transform: scale(0.5); 
    top: calc(30% - 44px);

}

#left {
    display: block;
    position: absolute;
    height:174px;
    width:87px;
    border-radius: 87px 4px 4px 87px;
    background: rgba(118, 118, 118, 1);
    transform: scale(0.5); 
    top: calc(30% - 44px);
}


.arrow-2 {
    cursor: pointer;
    height: 120px;
    width: 80px;
    position: relative;
    z-index: 100; 
    top: calc(50% - 60px);

}
.arrow-2-top, 
.arrow-2-bottom {
    background: white;
    height: 5px;
    
    position: absolute;
    top: 60px;
    width: 60px;
}

.arrow-2-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
    top: 62px;
}
.arrow-2-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}
.arrow-2-top::after, 
.arrow-2-bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}
.arrow-2-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}
.arrow-2-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}
.arrow-2:hover .arrow-2-top::after {
    left: 0;
    transition-delay: 0.15s;
}
.arrow-2:hover .arrow-2-bottom::after {
    right: 0;
    transition-delay: 0s;
}

.arrow-1 {
    cursor: pointer;
    height: 120px;
    width: 80px;
    position: relative; 
    z-index: 100;
    transform: rotate(180deg);
    top: calc(50% - 60px);   
}
.arrow-1-top, 
.arrow-1-bottom {
    background: white;
    height: 5px;
    
    position: absolute;
    top: 60px;
    width: 60px;
}

.arrow-1-top {
    transform: rotate(-45deg);
    transform-origin: bottom right;
    top: 56px;
}
.arrow-1-bottom {
    transform: rotate(45deg);
    transform-origin: top right;
}
.arrow-1-top::after, 
.arrow-1-bottom::after {
    background: #000;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
}
.arrow-1-top::after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
}
.arrow-1-bottom::after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
}
.arrow-1:hover .arrow-1-top::after {
    left: 0;
    transition-delay: 0.15s;
}
.arrow-1:hover .arrow-1-bottom::after {
    right: 0;
    transition-delay: 0s;
}
