@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.smm-fixed {
 display:none;
 position:fixed;
 right:0;
 z-index:101;
 width:56px
}
.smm-fixed.fix {
 bottom:85px
}
.smm-fixed.isWbMessage .links.wb a:before,
.smm-fixed.isWbMessage .show-icons:before {
 display:inline-block
}
.smm-fixed .links.wb a {
 position:relative
}
.smm-fixed .links.wb a:before {
 content:'';
 width:18px;
 height:18px;
 background:#ff48a5;
 border:2px solid #fff;
 -webkit-box-sizing:border-box;
 box-sizing:border-box;
 border-radius:100%;
 position:absolute;
 display:none;
 top:-5px;
 right:0
}
.smm-fixed .show-icons .icons-tmpl {
 background:#535353;
 position:relative;
 cursor:pointer;
 width:48px;
 height:48px;
 border-radius:50%;
 -webkit-transition:opacity 150ms ease-out 5ms,-webkit-transform;
 transition:opacity 150ms ease-out 5ms,-webkit-transform;
 transition:transform,opacity 150ms ease-out 5ms;
 transition:transform,opacity 150ms ease-out 5ms,-webkit-transform
}
.smm-fixed .show-icons .icons-tmpl:hover {
 opacity:.9
}
.smm-fixed .show-icons .icons-tmpl:after {
 content:'';
 display:block;
 background:url(data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2226%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10.12.12c6.408-.918%2012.315%203.51%2013.194%209.891.879%206.381-3.603%2012.299-10.01%2013.217-2.233.32-6.325-.844-6.325-.844l-3.224%202.867-.793-5.76S.438%2015.72.11%2013.338C-.769%206.957%203.713%201.04%2010.12.121zM8.56%2012.214a1.6%201.6%200%2011-3.2%200%201.6%201.6%200%20013.2%200zm3.2%201.6a1.6%201.6%200%20100-3.2%201.6%201.6%200%20000%203.2zm6.4-1.6a1.6%201.6%200%2011-3.2%200%201.6%201.6%200%20013.2%200z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E) 0 0 no-repeat;
 width:24px;
 height:24px;
 position:absolute;
 top:calc(50% - 12px);
 left:calc(50% - 12px)
}
.smm-fixed .icons-inner {
 position:absolute;
 bottom:0;
 right:19px
}
.smm-fixed .hide-icons {
 width:48px;
 height:48px;
 background:#535353;
 border-radius:50%;
 cursor:pointer
}
.smm-fixed .hide-icons:hover {
 opacity:.9
}
.smm-fixed .hide-icons.rotate-cross-clockwise {
 -webkit-transform:rotate(0);
 transform:rotate(0);
 -webkit-transition:-webkit-transform .2s ease-in-out;
 transition:-webkit-transform .2s ease-in-out;
 transition:transform .2s ease-in-out;
 transition:transform .2s ease-in-out,-webkit-transform .2s ease-in-out
}
.smm-fixed .hide-icons.rotate-cross-counterclockwise {
 -webkit-transform:rotate(-180deg);
 transform:rotate(-180deg);
 -webkit-transition:-webkit-transform .2s ease-in-out;
 transition:-webkit-transform .2s ease-in-out;
 transition:transform .2s ease-in-out;
 transition:transform .2s ease-in-out,-webkit-transform .2s ease-in-out
}
.smm-fixed .hide-icons .icons-tmpl {
 position:relative;
 display:inline-block;
 width:18px;
 height:18px;
 position:absolute;
 top:calc(50% - 9px);
 left:calc(50% - 9px)
}
.smm-fixed .hide-icons .icons-tmpl:after,
.smm-fixed .hide-icons .icons-tmpl:before {
 content:'';
 position:absolute;
 display:block;
 width:1px;
 -webkit-transform:rotate(-45deg);
 transform:rotate(-45deg)
}
.smm-fixed .hide-icons .icons-tmpl:before {
 -webkit-transform:rotate(45deg);
 transform:rotate(45deg)
}
.smm-fixed .hide-icons .icons-tmpl:after,
.smm-fixed .hide-icons .icons-tmpl:before {
 height:24px;
 width:2px;
 left:8px;
 top:-3px
}
.smm-fixed .hide-icons .icons-tmpl:after,
.smm-fixed .hide-icons .icons-tmpl:before {
 background:#fff
}
.smm-fixed .icons,
.smm-fixed .icons-available {
 bottom:-30px;
 height:0;
 margin:23px 0 55px;
 opacity:0;
 overflow:hidden;
 padding-top:5px;
 z-index:-1
}
.smm-fixed .icons-available.down-icons,
.smm-fixed .icons.down-icons {
 position:absolute
}
.smm-fixed .icons,
.smm-fixed .icons-always-visible,
.smm-fixed .icons-available {
 position:relative;
 right:16px
}
.smm-fixed .icons-always-visible {
 right:16px
}
.smm-fixed .hide-icons+.icons-always-visible {
 -webkit-transition:opacity .3s ease-out,height .4s ease-out,bottom .1s ease-in-out;
 transition:opacity .3s ease-out,height .4s ease-out,bottom .1s ease-in-out
}
.smm-fixed .show-icons+.icons-always-visible {
 -webkit-transition:opacity .2s ease-out,height .1s ease-out,bottom 70ms ease-in-out;
 transition:opacity .2s ease-out,height .1s ease-out,bottom 70ms ease-in-out
}
.smm-fixed .icons-available {
 display:table;
 position:relative;
 right:16px;
 height:310px;
 opacity:1;
 -webkit-transition:opacity .5s ease-in,height .3s ease-in,bottom .2s ease-in-out;
 transition:opacity .5s ease-in,height .3s ease-in,bottom .2s ease-in-out;
 z-index:1
}
.smm-fixed .icons-available .wrap-messengers {
 display:table-cell;
 vertical-align:bottom
}
.smm-fixed .icons {
 -webkit-transition:opacity .5s ease-in,height .3s ease-in,bottom .2s ease-in-out;
 transition:opacity .5s ease-in,height .3s ease-in,bottom .2s ease-in-out
}
.smm-fixed .icons-available {
 bottom:0
}
.smm-fixed .links {
 position:relative;
 text-align:center;
 width:56px;
 margin-bottom:10px
}
.smm-fixed .tg a {
 font-size:0;
 text-align:center;
 display:inline-block;
 vertical-align:top;
 width:40px;
 height:40px;
 position:relative;
 border-radius:50%;
 background:#5181b8;
 -webkit-transition:-webkit-transform .3s ease;
 transition:-webkit-transform .3s ease;
 transition:transform .3s ease;
 transition:transform .3s ease,-webkit-transform .3s ease
}
.smm-fixed .tg a:after {
 content:'';
 display:inline-block;
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 left:0
}
.smm-fixed .tg a:hover {
 -webkit-transform:scale(1.15);
 transform:scale(1.15)
}
.smm-fixed .tg a:after {
 background:url(data:image/svg+xml,%3Csvg%20width%3D%2223%22%20height%3D%2219%22%20viewBox%3D%220%200%2023%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M22.5217%204.05728C22.4364%204.62128%2022.3464%205.18461%2022.2667%205.74928C22.0984%206.94594%2021.9017%208.13794%2021.7127%209.33161C21.6937%209.45161%2021.68%209.57261%2021.664%209.69328C21.6424%209.80161%2021.618%209.90961%2021.5997%2010.0186C21.2684%2011.9796%2020.9374%2013.9406%2020.6074%2015.9016C20.5237%2016.3983%2020.445%2016.8959%2020.3644%2017.3933C20.2627%2017.9126%2020.0094%2018.3323%2019.5594%2018.6246C18.9184%2019.0409%2018.177%2019.0176%2017.5464%2018.5886C15.8491%2017.4329%2014.1454%2016.2866%2012.444%2015.1369C12.4307%2015.1279%2012.4137%2015.1239%2012.3984%2015.1176C11.7747%2014.6839%2011.1514%2014.2496%2010.527%2013.8166C9.91538%2013.3923%209.76905%2012.8923%2010.062%2012.2036C10.235%2011.7973%2010.5147%2011.4716%2010.8357%2011.1739C11.5274%2010.5326%2012.2124%209.88394%2012.9004%209.23794C12.9147%209.22961%2012.931%209.22361%2012.943%209.21261C14.261%208.01328%2015.5957%206.83161%2016.8094%205.52294C16.904%205.42094%2016.9644%205.30894%2016.9947%205.17694C17.0194%205.06928%2017.063%204.95094%2016.967%204.86294C16.874%204.77761%2016.7574%204.81594%2016.651%204.84894C16.3674%204.93694%2016.1144%205.08728%2015.866%205.24461C14.9277%205.83861%2014.0357%206.49994%2013.1247%207.13328C12.4964%207.57028%2011.8724%208.01328%2011.2464%208.45361C10.697%208.81894%2010.149%209.18628%209.59772%209.54894C8.85605%2010.0366%208.09472%2010.4929%207.33738%2010.9553C6.63705%2011.3829%205.87972%2011.5319%205.08472%2011.4129C3.48105%2011.1729%201.97572%2010.6186%200.527383%209.90161C0.382716%209.82994%200.252716%209.73328%200.143716%209.61261C-0.046617%209.40161%20-0.047617%209.20361%200.13905%208.99028C0.304716%208.80094%200.524383%208.68794%200.740383%208.57261C1.56205%208.13361%202.40172%207.73094%203.24572%207.33728C3.84305%207.05861%204.45172%206.80328%205.05038%206.52694C5.16438%206.47428%205.28305%206.43561%205.39538%206.38094C5.90872%206.15794%206.42072%205.93194%206.93538%205.71228C8.23272%205.15828%209.53105%204.60728%2010.829%204.05528C10.8914%204.03294%2010.9547%204.01294%2011.016%203.98761C12.098%203.54328%2013.1794%203.09728%2014.2617%202.65428C14.9847%202.35828%2015.7094%202.06594%2016.433%201.77194C17.0274%201.53594%2017.6177%201.28928%2018.2167%201.06661C19.0754%200.74761%2019.9077%200.35561%2020.7964%200.119943C21.2374%200.00327631%2021.6867%20-0.051057%2022.1401%200.0626097C22.5947%200.176276%2022.859%200.594276%2022.8394%201.03494C22.794%202.04894%2022.6414%203.05128%2022.5217%204.05728Z%22%20fill%3D%22%23FEFEFE%22%2F%3E%0A%3C%2Fsvg%3E%0A) 42% center no-repeat;)
}
.smm-fixed .fccom a {
 font-size:0;
 text-align:center;
 display:inline-block;
 vertical-align:top;
 width:40px;
 height:40px;
 position:relative;
 border-radius:50%;
 background: linear-gradient(214.17deg,#37aee2 15.49%,#1e96c8 89.09%);
 -webkit-transition:-webkit-transform .3s ease;
 transition:-webkit-transform .3s ease;
 transition:transform .3s ease;
 transition:transform .3s ease,-webkit-transform .3s ease
}
.smm-fixed .fccom a:after {
 content:'';
 display:inline-block;
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 left:0
}
.smm-fixed .fccom a:hover {
 -webkit-transform:scale(1.15);
 transform:scale(1.15)
}
.smm-fixed .fccom a:after {
 background:url(data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2233%22%20viewBox%3D%220%200%2018%2033%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M17.5999%201.20008V6.10008C17.5999%206.10008%2016.5999%206.10008%2015.4999%206.10008C14.1999%206.10008%2013.7999%206.30008%2013.1999%206.50008C12.3999%206.90008%2011.9999%207.70008%2011.8999%208.60008L11.7999%2013.0001H17.2999L16.3999%2018.8001H11.6999V32.8001C11.6999%2032.8001%2010.4999%2033.0001%208.8999%2033.0001C7.0999%2033.0001%205.4999%2032.7001%205.4999%2032.7001V18.8001H0.399902V13.0001H5.4999C5.4999%2013.0001%205.3999%208.80008%205.4999%207.40008C5.5999%206.00008%206.3999%203.70008%208.0999%202.40008C9.1999%201.50008%2010.7999%200.900083%2012.5999%200.900083C15.2999%200.800083%2017.5999%201.20008%2017.5999%201.20008Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center 100% no-repeat
}
.smm-fixed .inst a {
 font-size:0;
 text-align:center;
 display:inline-block;
 vertical-align:top;
 width:40px;
 height:40px;
 position:relative;
 border-radius:50%;
 background:#de3275;
 -webkit-transition:-webkit-transform .3s ease;
 transition:-webkit-transform .3s ease;
 transition:transform .3s ease;
 transition:transform .3s ease,-webkit-transform .3s ease
}
.smm-fixed .inst a:after {
 content:'';
 display:inline-block;
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 left:0
}
.smm-fixed .inst a:hover {
 -webkit-transform:scale(1.15);
 transform:scale(1.15)
}
.smm-fixed .inst a:after {
 background:url(data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M19.384%2015.512C19.385%2016.0299%2019.2841%2016.543%2019.0868%2017.0219C18.8896%2017.5008%2018.6%2017.9362%2018.2345%2018.3032C17.869%2018.6701%2017.4348%2018.9615%2016.9567%2019.1607C16.4786%2019.3599%2015.9659%2019.4629%2015.448%2019.464H6.55198C6.03404%2019.4629%205.52139%2019.3599%205.04328%2019.1607C4.56517%2018.9615%204.13098%2018.6701%203.76549%2018.3032C3.4%2017.9362%203.11037%2017.5008%202.91313%2017.0219C2.7159%2016.543%202.61492%2016.0299%202.61598%2015.512V6.59199C2.61385%205.54523%203.02709%204.54039%203.765%203.79798C4.50292%203.05556%205.50523%202.63622%206.55198%202.63199H15.448C16.4947%202.63622%2017.497%203.05556%2018.235%203.79798C18.9729%204.54039%2019.3861%205.54523%2019.384%206.59199V15.512ZM15.384%200.687988H6.65598C5.8754%200.689038%205.10267%200.843824%204.38191%201.14351C3.66116%201.44319%203.00648%201.88191%202.45527%202.4346C1.90407%202.9873%201.46712%203.64315%201.16937%204.36471C0.87163%205.08627%200.718925%205.85941%200.719976%206.63999V15.36C0.718925%2016.1406%200.87163%2016.9137%201.16937%2017.6353C1.46712%2018.3568%201.90407%2019.0127%202.45527%2019.5654C3.00648%2020.1181%203.66116%2020.5568%204.38191%2020.8565C5.10267%2021.1562%205.8754%2021.3109%206.65598%2021.312H15.344C16.1246%2021.3109%2016.8973%2021.1562%2017.618%2020.8565C18.3388%2020.5568%2018.9935%2020.1181%2019.5447%2019.5654C20.0959%2019.0127%2020.5328%2018.3568%2020.8306%2017.6353C21.1283%2016.9137%2021.281%2016.1406%2021.28%2015.36V6.63999C21.281%205.85941%2021.1283%205.08627%2020.8306%204.36471C20.5328%203.64315%2020.0959%202.9873%2019.5447%202.4346C18.9935%201.88191%2018.3388%201.44319%2017.618%201.14351C16.8973%200.843824%2016.1246%200.689038%2015.344%200.687988H15.384ZM11%2014.52C10.3126%2014.5232%209.63977%2014.3222%209.0667%2013.9426C8.49363%2013.5631%208.04612%2013.0219%207.78088%2012.3878C7.51564%2011.7536%207.4446%2011.055%207.57675%2010.3805C7.70891%209.70594%208.03831%209.0858%208.52324%208.59863C9.00816%208.11146%209.62678%207.77919%2010.3007%207.64392C10.9747%207.50865%2011.6736%207.57647%2012.3089%207.83878C12.9443%208.10109%2013.4875%208.54609%2013.8697%209.1174C14.2519%209.6887%2014.456%2010.3606%2014.456%2011.048C14.457%2011.5029%2014.3685%2011.9535%2014.1954%2012.3742C14.0222%2012.7949%2013.768%2013.1773%2013.4471%2013.4998C13.1261%2013.8222%2012.7449%2014.0782%2012.325%2014.2532C11.9051%2014.4283%2011.4549%2014.5189%2011%2014.52ZM11%205.71999C9.93852%205.71524%208.89955%206.02575%208.01478%206.61218C7.13%207.1986%206.43927%208.03452%206.03014%209.01397C5.621%209.99342%205.51189%2011.0723%205.71664%2012.1138C5.92139%2013.1554%206.43077%2014.1127%207.18022%2014.8643C7.92967%2015.616%208.88543%2016.1283%209.92634%2016.3362C10.9673%2016.544%2012.0465%2016.4381%2013.0271%2016.0319C14.0078%2015.6257%2014.8458%2014.9375%2015.4349%2014.0545C16.0239%2013.1715%2016.3375%2012.1335%2016.336%2011.072C16.3391%2010.3685%2016.2036%209.67125%2015.937%209.02019C15.6705%208.36913%2015.2782%207.777%2014.7826%207.27769C14.287%206.77837%2013.6978%206.38167%2013.0487%206.11026C12.3997%205.83886%2011.7035%205.69808%2011%205.69599V5.71999ZM16.512%204.24799C16.2648%204.2464%2016.0227%204.31825%2015.8165%204.45441C15.6102%204.59058%2015.449%204.78493%2015.3533%205.01283C15.2576%205.24073%2015.2317%205.49191%2015.279%205.73452C15.3262%205.97713%2015.4445%206.20025%2015.6187%206.37559C15.7929%206.55093%2016.0152%206.67059%2016.2575%206.71939C16.4999%206.7682%2016.7512%206.74395%2016.9797%206.64973C17.2082%206.55552%2017.4036%206.39557%2017.5411%206.19016C17.6786%205.98476%2017.752%205.74316%2017.752%205.49599C17.753%205.33248%2017.7217%205.17037%2017.6599%205.019C17.598%204.86764%2017.5069%204.72999%2017.3916%204.614C17.2764%204.49801%2017.1393%204.40595%2016.9884%204.34314C16.8374%204.28032%2016.6755%204.24798%2016.512%204.24799Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center no-repeat
}
.smm-fixed .okru a {
 font-size:0;
 text-align:center;
 display:inline-block;
 vertical-align:top;
 width:40px;
 height:40px;
 position:relative;
 border-radius:50%;
 background:#ef7d01;
 -webkit-transition:-webkit-transform .3s ease;
 transition:-webkit-transform .3s ease;
 transition:transform .3s ease;
 transition:transform .3s ease,-webkit-transform .3s ease
}
.smm-fixed .okru a:after {
 content:'';
 display:inline-block;
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 left:0
}
.smm-fixed .okru a:hover {
 -webkit-transform:scale(1.15);
 transform:scale(1.15)
}
.smm-fixed .okru a:after {
 background:url(data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%2219%22%20viewBox%3D%220%200%2011%2019%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M5.36676%206.2803e-06C4.41606%20-0.00151557%203.48629%200.287137%202.69519%200.829416C1.90409%201.3717%201.28723%202.14321%200.922728%203.04628C0.558224%203.94934%200.462464%204.94334%200.647576%205.90241C0.832687%206.86148%201.29034%207.7425%201.9626%208.43389C2.63485%209.12529%203.49146%209.59598%204.42398%209.78637C5.35649%209.97675%206.32296%209.87826%207.20102%209.50338C8.07907%209.12849%208.82922%208.49407%209.35649%207.68044C9.88375%206.8668%2010.1644%205.91056%2010.1629%204.93277C10.1629%204.28499%2010.0389%203.64355%209.79784%203.04508C9.55681%202.44661%209.20353%201.90283%208.75816%201.44478C8.3128%200.98673%207.78407%200.623385%207.20218%200.375491C6.62028%200.127596%205.9966%206.2803e-06%205.36676%206.2803e-06ZM5.36676%206.92589C4.83494%206.92589%204.32489%206.7086%203.94883%206.32183C3.57277%205.93506%203.3615%205.41049%203.3615%204.86351C3.3615%204.31654%203.57277%203.79196%203.94883%203.40519C4.32489%203.01842%204.83494%202.80114%205.36676%202.80114C5.63178%202.79482%205.89528%202.84385%206.14135%202.94526C6.38742%203.04667%206.61093%203.19835%206.79837%203.39113C6.98582%203.58391%207.1333%203.81379%207.2319%204.06686C7.3305%204.31994%207.37817%204.59095%207.37203%204.86351C7.37301%205.13463%207.32182%205.40327%207.2214%205.65395C7.12097%205.90463%206.97331%206.13239%206.7869%206.3241C6.6005%206.51581%206.37905%206.66768%206.13531%206.77097C5.89158%206.87425%205.63038%206.9269%205.36676%206.92589ZM7.2972%2013.8518C8.31662%2013.6138%209.2869%2013.1917%2010.1629%2012.6051C10.3432%2012.4702%2010.4896%2012.293%2010.5898%2012.0882C10.69%2011.8834%2010.7412%2011.657%2010.7391%2011.4277C10.7378%2011.1606%2010.6635%2010.8993%2010.5246%2010.6736C10.3858%2010.4478%2010.188%2010.2669%209.95385%2010.1513C9.71973%2010.0357%209.45871%209.99018%209.20062%2010.0199C8.94254%2010.0497%208.6978%2010.1535%208.49437%2010.3196C7.56538%2010.8937%206.50296%2011.1995%205.41914%2011.2045C4.27059%2011.1481%203.15083%2010.816%202.14937%2010.2349C1.91313%2010.0868%201.64032%2010.012%201.36372%2010.0194C1.00256%2010.0194%200.656183%2010.167%200.400799%2010.4297C0.145415%2010.6923%200.0019424%2011.0486%200.0019424%2011.42C-0.011184%2011.659%200.0424249%2011.8968%200.156443%2012.1054C0.270461%2012.314%200.44013%2012.4847%200.645422%2012.5974C1.49755%2013.1681%202.44709%2013.5676%203.44381%2013.7748L0.795068%2016.5682C0.666797%2016.6985%200.564953%2016.8537%200.495443%2017.0248C0.425932%2017.1958%200.390138%2017.3794%200.390138%2017.5648C0.390138%2017.7502%200.425932%2017.9338%200.495443%2018.1048C0.564953%2018.2759%200.666797%2018.4311%200.795068%2018.5614C0.925685%2018.699%201.08156%2018.8087%201.25366%2018.884C1.42576%2018.9593%201.61068%2018.9987%201.7977%2019C2.17495%2018.9949%202.53509%2018.8373%202.80033%2018.5614L5.36676%2015.8372L8.0155%2018.5614C8.27637%2018.804%208.61802%2018.9341%208.96963%2018.9247C9.32124%2018.9153%209.65584%2018.7671%209.90407%2018.5108C10.1523%2018.2545%2010.2951%2017.9098%2010.3029%2017.5481C10.3107%2017.1865%2010.1829%2016.8356%209.94594%2016.5682L7.2972%2013.8518Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center no-repeat
}
.smm-fixed .youtube a {
 font-size:0;
 text-align:center;
 display:inline-block;
 vertical-align:top;
 width:40px;
 height:40px;
 position:relative;
 border-radius:50%;
 background:red;
 -webkit-transition:-webkit-transform .3s ease;
 transition:-webkit-transform .3s ease;
 transition:transform .3s ease;
 transition:transform .3s ease,-webkit-transform .3s ease
}
.smm-fixed .youtube a:after {
 content:'';
 display:inline-block;
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 left:0
}
.smm-fixed .youtube a:hover {
 -webkit-transform:scale(1.15);
 transform:scale(1.15)
}
.smm-fixed .youtube a:after {
 background:url(data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2216%22%20viewBox%3D%220%200%2022%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M21.232%202.84791C21.1088%202.39394%2020.869%201.98009%2020.5364%201.64748C20.2038%201.31487%2019.79%201.07507%2019.336%200.951907C17.672%200.503907%2011%200.503906%2011%200.503906C11%200.503906%204.312%200.503906%202.648%200.967906C2.19403%201.09107%201.78018%201.33087%201.44757%201.66348C1.11496%201.99609%200.875164%202.40994%200.751996%202.86391C0.448564%204.55896%200.298624%206.27792%200.303997%207.99991C0.293344%209.72741%200.443322%2011.4522%200.751996%2013.1519C0.875164%2013.6059%201.11496%2014.0197%201.44757%2014.3523C1.78018%2014.6849%202.19403%2014.9247%202.648%2015.0479C4.312%2015.4959%2011%2015.4959%2011%2015.4959C11%2015.4959%2017.688%2015.4959%2019.352%2015.0479C19.806%2014.9247%2020.2198%2014.6849%2020.5524%2014.3523C20.885%2014.0197%2021.1248%2013.6059%2021.248%2013.1519C21.5627%2011.4529%2021.7154%209.7278%2021.704%207.99991C21.7066%206.27166%2021.5486%204.5469%2021.232%202.84791ZM8.856%2011.1999V4.79991L14.408%207.99991L8.856%2011.1999Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center no-repeat
}
.smm-fixed .viber a {
 font-size:0;
 text-align:center;
 display:inline-block;
 vertical-align:top;
 width:40px;
 height:40px;
 position:relative;
 border-radius:50%;
 background:#665cac;
 -webkit-transition:-webkit-transform .3s ease;
 transition:-webkit-transform .3s ease;
 transition:transform .3s ease;
 transition:transform .3s ease,-webkit-transform .3s ease
}
.smm-fixed .viber a:after {
 content:'';
 display:inline-block;
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 left:0
}
.smm-fixed .viber a:hover {
 -webkit-transform:scale(1.15);
 transform:scale(1.15)
}
.smm-fixed .viber a:after {
 background:url(data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M13.9999%209.28788C13.8844%209.28602%2013.7739%209.24038%2013.6907%209.16019C13.6076%209.08%2013.558%208.97124%2013.5519%208.85588C13.4799%207.33588%2012.7519%206.59188%2011.2959%206.50388C11.1771%206.49752%2011.0657%206.44421%2010.9861%206.3557C10.9066%206.26718%2010.8655%206.1507%2010.8719%206.03188C10.8783%205.91307%2010.9316%205.80164%2011.0201%205.72213C11.1086%205.64261%2011.2251%205.60152%2011.3439%205.60788C13.2799%205.71188%2014.3519%206.82388%2014.4479%208.80788C14.4511%208.86633%2014.4427%208.92483%2014.423%208.97996C14.4033%209.03509%2014.3729%209.08575%2014.3334%209.12896C14.2939%209.17217%2014.2462%209.20707%2014.193%209.23161C14.1399%209.25615%2014.0824%209.26984%2014.0239%209.27188L13.9999%209.28788ZM16.3279%2010.0719C16.3863%2010.0729%2016.4444%2010.0623%2016.4987%2010.0407C16.553%2010.0191%2016.6025%209.98684%2016.6442%209.94587C16.6859%209.90491%2016.719%209.85604%2016.7417%209.80213C16.7643%209.74822%2016.7759%209.69034%2016.7759%209.63188C16.8138%208.82543%2016.6919%208.01944%2016.4173%207.26023C16.1428%206.50101%2015.7209%205.80354%2015.1759%205.20788C13.9883%203.97749%2012.3653%203.26223%2010.6559%203.21588C10.5375%203.2092%2010.4212%203.2489%2010.3316%203.32656C10.2419%203.40423%2010.1861%203.51374%2010.1759%203.63188C10.1715%203.69075%2010.1789%203.74989%2010.1974%203.80592C10.216%203.86194%2010.2455%203.91375%2010.2841%203.95835C10.3228%204.00295%2010.3699%204.03948%2010.4227%204.06583C10.4755%204.09218%2010.533%204.10783%2010.5919%204.11188C12.0725%204.13925%2013.4819%204.75194%2014.5119%205.81588C14.978%206.32734%2015.3365%206.92732%2015.566%207.58013C15.7955%208.23295%2015.8914%208.92526%2015.8479%209.61588C15.8478%209.7341%2015.8937%209.84772%2015.9757%209.9328C16.0578%2010.0179%2016.1698%2010.0677%2016.2879%2010.0719H16.3279ZM18.6879%2010.9999C18.8074%2010.9978%2018.9214%2010.9488%2019.0052%2010.8635C19.089%2010.7782%2019.1359%2010.6634%2019.1359%2010.5439C19.1898%209.24815%2018.9792%207.95502%2018.5171%206.74331C18.0549%205.53159%2017.3509%204.42667%2016.4479%203.49588C15.576%202.64886%2014.5458%201.98188%2013.4161%201.53302C12.2864%201.08416%2011.0794%200.862228%209.86389%200.879883C9.75436%200.894487%209.65386%200.948366%209.58107%201.0315C9.50828%201.11464%209.46816%201.22138%209.46816%201.33188C9.46816%201.44238%209.50828%201.54912%209.58107%201.63226C9.65386%201.7154%209.75436%201.76928%209.86389%201.78388C10.9634%201.76299%2012.0562%201.96008%2013.0791%202.36377C14.1021%202.76745%2015.035%203.36975%2015.8239%204.13588C16.6421%204.98058%2017.2775%205.98481%2017.6904%207.08594C18.1033%208.18707%2018.2849%209.36146%2018.2239%2010.5359C18.226%2010.6554%2018.275%2010.7694%2018.3602%2010.8532C18.4455%2010.937%2018.5603%2010.9839%2018.6799%2010.9839L18.6879%2010.9999ZM11.4399%2014.8559C6.82389%2013.6799%205.58389%209.00788%205.58389%209.00788C5.57011%208.82818%205.59592%208.64765%205.65951%208.47902C5.72309%208.31038%205.8229%208.15775%205.95189%208.03188L6.75189%207.36788C7.00555%207.13944%207.17034%206.82873%207.21718%206.4906C7.26402%206.15248%207.1899%205.80867%207.00789%205.51988C6.70086%204.95335%206.3644%204.40327%205.99989%203.87188C5.63189%203.36788%204.77589%202.34388%204.76789%202.33588C4.57081%202.09855%204.2942%201.94093%203.98956%201.89236C3.68491%201.84379%203.373%201.90759%203.11189%202.07188C2.47687%202.44053%201.9044%202.90768%201.41589%203.45588C1.05847%203.84688%200.822247%204.33323%200.735894%204.85588C0.727358%204.92495%200.727358%204.99481%200.735894%205.06388C0.729206%205.26491%200.759021%205.46549%200.823893%205.65588C1.28045%206.99938%201.87566%208.29168%202.59989%209.51188C3.22279%2010.6373%203.94003%2011.7078%204.74389%2012.7119C5.13084%2013.2414%205.55031%2013.7464%205.99989%2014.2239L6.04789%2014.2799L6.09589%2014.3279L6.15189%2014.3759L6.19989%2014.4239C6.65458%2014.8867%207.14111%2015.317%207.65589%2015.7119C8.6597%2016.5162%209.73024%2017.2334%2010.8559%2017.8559C12.1035%2018.5783%2013.4259%2019.1631%2014.7999%2019.5999C14.9908%2019.6635%2015.1907%2019.6959%2015.3919%2019.6959C15.4609%2019.7049%2015.5309%2019.7049%2015.5999%2019.6959C16.1214%2019.6109%2016.6074%2019.3776%2016.9999%2019.0239C17.5452%2018.5348%2018.0097%2017.9623%2018.3759%2017.3279C18.5419%2017.0673%2018.6067%2016.7549%2018.558%2016.4498C18.5094%2016.1447%2018.3507%2015.8679%2018.1119%2015.6719C18.1119%2015.6719%2017.0719%2014.7999%2016.5679%2014.4479C16.0639%2014.0959%2015.3439%2013.6479%2014.9199%2013.3999C14.6306%2013.2194%2014.2872%2013.1462%2013.9495%2013.193C13.6118%2013.2398%2013.3012%2013.4036%2013.0719%2013.6559L12.4079%2014.4559C12.2839%2014.5851%2012.1327%2014.6852%2011.9653%2014.7489C11.7979%2014.8125%2011.6184%2014.8381%2011.4399%2014.8239%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center no-repeat
}
.smm-fixed .wapp a {
 font-size:27px;
 text-align:center;
 display:inline-block;
 vertical-align:top;
 width:40px;
 height:40px;
 position:relative;
 border-radius:50%;
 background:#12d543;
 -webkit-transition:-webkit-transform .3s ease;
 transition:-webkit-transform .3s ease;
 transition:transform .3s ease;
 transition:transform .3s ease,-webkit-transform .3s ease;
 
}
.smm-fixed .wapp a:after {
 content:'\f232';
 font-family: fontawesome;
 display:inline-block;
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 left:0
}
.smm-fixed .wapp a:hover {
 -webkit-transform:scale(1.15);
 transform:scale(1.15)
}
/*.smm-fixed .wapp a:after {
 background:url(https://img.favpng.com/17/2/8/whatsapp-computer-icons-instant-messaging-mobile-phones-png-favpng-bL9FeKx7d0gKeqBuXFiVu3BJm.jpg) 42% contain no-repeat
}*/
.smm-fixed .fb-mes a {
 font-size:0;
 text-align:center;
 display:inline-block;
 vertical-align:top;
 width:40px;
 height:40px;
 position:relative;
 border-radius:50%;
 background:#006aff;
 -webkit-transition:-webkit-transform .3s ease;
 transition:-webkit-transform .3s ease;
 transition:transform .3s ease;
 transition:transform .3s ease,-webkit-transform .3s ease;
 background:-webkit-gradient(linear,left top,left bottom,from(#00b2ff),color-stop(103.09%,#006aff));
 background:linear-gradient(180deg,#00b2ff 0,#006aff 103.09%)
}
.smm-fixed .fb-mes a:after {
 content:'';
 display:inline-block;
 width:40px;
 height:40px;
 position:absolute;
 top:0;
 left:0
}
.smm-fixed .fb-mes a:hover {
 -webkit-transform:scale(1.15);
 transform:scale(1.15)
}
.smm-fixed .fb-mes a:after {
 background:url(data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M4.08969%2013.2156L7.47072%208.22603C8.00799%207.43321%209.16124%207.23498%209.96714%207.79731L12.6558%209.67378C12.7759%209.75737%2012.9219%209.80236%2013.0718%209.80198C13.2218%209.80159%2013.3675%209.75585%2013.4871%209.67164L17.1183%207.10787C17.6023%206.76537%2018.2369%207.30615%2017.9103%207.78439L14.5316%2012.7718C13.9943%2013.5646%2012.8411%2013.7628%2012.0352%2013.2005L9.34654%2011.324C9.22643%2011.2405%209.08041%2011.1955%208.93046%2011.1959C8.78052%2011.1962%208.63476%2011.242%208.51515%2011.3262L4.88166%2013.8921C4.39768%2014.2347%203.7631%2013.6939%204.08969%2013.2156ZM11%200C4.80282%200%200%204.53948%200%2010.6704C0%2013.8774%201.31466%2016.6485%203.45494%2018.563C3.63424%2018.7246%203.74264%2018.9481%203.75149%2019.1894L3.81128%2021.1459C3.83119%2021.7701%204.47524%2022.1751%205.04631%2021.925L7.22859%2020.9623C7.41321%2020.8805%207.62033%2020.8649%207.81511%2020.918C8.81771%2021.1946%209.88675%2021.3407%2011%2021.3407C17.1972%2021.3407%2022%2016.8012%2022%2010.6704C22%204.53948%2017.1972%200%2011%200Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E%0A) center no-repeat
}


